@inherits LayoutComponentBase

<PageTitle>BlazorServerTest</PageTitle>

<!--<div class="page">-->
    <header>
        <NavMenu />
    </header>
    


    <main>
        
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        @Body
        <!--        
        <article class="content px-4">
            
        </article>
        -->

    </main>

