@page "/"
@using Microsoft.EntityFrameworkCore
@inject IDbContextFactory<ApplicationDbContext> context



<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@if (albums == null)
{
    <p>Loading...</p>
} else
{
    <ul>
        @foreach (var album in albums)
        {
            <li><a href="/album/@album.Id">@album.Title</a></li>
        }
    </ul>
}

@code {
    private List<Album> albums;

    protected override async Task OnInitializedAsync()
    {
        using (var ctx = await context.CreateDbContextAsync())
        {
            var result = await ctx.Albums.OrderByDescending(x => x.Reviews.Count).ToListAsync();
            albums = result;
        }
    }
}